@{
    ViewData["Title"] = "Гимн БГУ";
}
<a asp-controller="MainInfo" asp-action="FinanceAssistance" class="go-arrow go-prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</a>

<a asp-controller="MainInfo" asp-action="CodexRB" class="go-arrow go-next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</a>

<img src="~/images/CommonInfo_76.jpg" />