@{
    ViewData["Title"] = "Информация о работе кружков и клубов  Студенческого городка БГУ";
}
<a asp-controller="MainInfo" asp-action="PsychologicalServiceBSU" class="go-arrow go-prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</a>

<a asp-controller="MainInfo" asp-action="CreativeClub" class="go-arrow go-next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</a>

<img src="~/images/CommonInfo_66.jpg" />
<img src="~/images/CommonInfo_67.jpg" />