@{
    ViewData["Title"] = "Руководство БГУ";
}

<a asp-controller="MainInfo" asp-action="Title" class="go-arrow go-prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</a>

<a asp-controller="MainInfo" asp-action="BSUStudentsAssembly" class="go-arrow go-next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</a>

<img src="~/images/CommonInfo_3.jpg" />