@{
    ViewData["Title"] = "Студенческая Ассамблея БГУ";
}

<a asp-controller="MainInfo" asp-action="BSULeadership" class="go-arrow go-prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</a>

<a asp-controller="MainInfo" asp-action="BSUInnerRules" class="go-arrow go-next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</a>

<img src="~/Res/Images/CommonInfo_4.jpg" />
