@{
    ViewData["Title"] = "Выписка из положения о предоставлении скидок со сформированной стоимости обучения";
}

<a  asp-controller="MainInfo" asp-action="BSUInnerRules" class="go-arrow go-prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</a>

<a asp-controller="MainInfo" asp-action="BSUEducationFreeInformation" class="go-arrow go-next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</a>

<img src="~/Res/Images/CommonInfo_58.jpg" />
