@{
    ViewData["Title"] = "Oб оказании материальной помощи";
}

<a asp-controller="MainInfo" asp-action="Educationalcenter" class="go-arrow go-prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</a>

<a asp-controller="MainInfo" asp-action="Anthem" class="go-arrow go-next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</a>

<img src="~/Res/Images/CommonInfo_50.jpg" />
<img src="~/Res/Images/CommonInfo_51.jpg" />
<img src="~/Res/Images/CommonInfo_52.jpg" />
<img src="~/Res/Images/CommonInfo_53.jpg" />
<img src="~/Res/Images/CommonInfo_54.jpg" />
<img src="~/Res/Images/CommonInfo_55.jpg" />
<img src="~/Res/Images/CommonInfo_56.jpg" />
<img src="~/Res/Images/CommonInfo_57.jpg" />
