@{
    ViewData["Title"] = "Положение о кураторе студенческой группы";
}

<a asp-controller="MainInfo" asp-action="CuratorWorkInstruction" class="go-arrow go-prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</a>

<a asp-controller="MainInfo" asp-action="Title" class="go-arrow go-next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</a>

<img src="~/images/CommonInfo_44.jpg" />
<img src="~/images/CommonInfo_45.jpg" />
<img src="~/images/CommonInfo_46.jpg" />
<img src="~/images/CommonInfo_47.jpg" />