@{
    ViewData["Title"] = "Пример характеристики студента. Практические рекоммендации Психологической службы БГУ для составления характеристики студента";
}

<a asp-controller="MainInfo" asp-action="HolidaysRB" class="go-arrow go-prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</a>

<a asp-controller="MainInfo" asp-action="GroupEducationProcess" class="go-arrow go-next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</a>

<img src="~/Res/Images/CommonInfo_68.jpg" />
<img src="~/Res/Images/CommonInfo_69.jpg" />
